on:
  push:
    branchs:
      - master
    


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: "login dockerhub"
        run: docker login --username nadaadel19 --password dckr_pat_Nm4G6GpmGrVd2fhfTU4Ph1GE8ho
        